body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(194, 232, 127) ;
}

.hero {
  background: linear-gradient(rgba(0, 60, 20, 0.6), rgba(0, 60, 20, 0.6)),
    url("https://i.pinimg.com/736x/91/74/cd/9174cd4d388c7913660a5ba81ac662cb.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h2 {
  font-weight: 700;
  color: #1b4332;
}

.btn-success {
  background-color: #2d6a4f;
  border: none;
}

.btn-success:hover {
  background-color: #1b4332;
}

footer {
  letter-spacing: 0.5px;
}

#loginpart {
  background-image: url("https://i.pinimg.com/736x/a3/b6/ce/a3b6cedef1ee1afd75a83eff986170ae.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#about{
background: 
    url("https://i.pinimg.com/736x/01/de/5c/01de5c43e1e4ad350cebf3e5afec92bf.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
  font-size:large ;
  height: 100vh;}

  #register{
      background-image: url("https://i.pinimg.com/736x/a3/b6/ce/a3b6cedef1ee1afd75a83eff986170ae.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  }


