body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(194, 232, 127) ;
}

.hero {
  background: linear-gradient(rgba(0, 60, 20, 0.6), rgba(0, 60, 20, 0.6)),
    url("https://i.pinimg.com/736x/91/74/cd/9174cd4d388c7913660a5ba81ac662cb.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h2 {
  font-weight: 700;
  color: #1b4332;
}

.btn-success {
  background-color: #2d6a4f;
  border: none;
}

.btn-success:hover {
  background-color: #1b4332;
}

footer {
  letter-spacing: 0.5px;
}
